<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>TommyStateURL</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>TommyState</string>
            </array>
        </dict>
    </array>
    <key>SMPrivilegedExecutables</key>
    <dict>
        <key>tommy.TommyTool</key>
        <string>anchor apple generic and identifier "tommy.TommyTool" and (certificate leaf[field.1.2.840.113635.100.6.2.1] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = "2MU5Q3N3P9")</string>
    </dict>
    <key>LSUIElement</key>
    <true/>
</dict>
</plist>
