<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>

    <key>OSBundleRequired</key>
    <string>Root</string>

    <key>IOKitPersonalities</key>
        <dict>
            <!-- QCABluetooth 固件加载器 -->
            <key>QCABluetooth</key>
            <dict>
                <key>CFBundleIdentifier</key>
                <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
                <key>IOClass</key>
                <string>QCABluetooth</string>
                <key>IOMatchCategory</key>
                <string>QCABluetooth</string>
                <key>IOProbeScore</key>
                <integer>4000</integer>
                <key>IOProviderClass</key>
                <string>IOUSBHostDevice</string>
                <key>idVendor</key>
                <integer>1226</integer>
                <key>idProduct</key>
                <integer>12312</integer>
            </dict>
<!--
            <key>QCA-BroadcomTransport</key>
            <dict>
                <key>CFBundleIdentifier</key>
                <string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
                <key>IOClass</key>
                <string>BroadcomBluetoothHostControllerUSBTransport</string>
                <key>IOProviderClass</key>
                <string>IOUSBHostInterface</string>

                <key>idVendor</key>
                <integer>1226</integer>
                <key>idProduct</key>
                <integer>12312</integer>

                <key>bInterfaceClass</key>
                <integer>224</integer>       
                <key>bInterfaceSubClass</key>
                <integer>1</integer>
                <key>bInterfaceProtocol</key>
                <integer>1</integer>

                <key>IOProbeScore</key>
                <integer>6000</integer>
            </dict>
-->
        </dict>

    <key>OSBundleLibraries</key>
    <dict>
        <key>com.apple.kpi.bsd</key>
                <string>8.0.0</string>
                <key>com.apple.iokit.IOUSBHostFamily</key>
                <string>1.2</string>
                <key>com.apple.kpi.iokit</key>
                <string>16.7</string>
                <key>com.apple.kpi.libkern</key>
                <string>16.7</string>
                <key>com.apple.kpi.mach</key>
                <string>16.7</string>
                <key>com.apple.kpi.unsupported</key>
                <string>8.0.0</string>
    </dict>
</dict>
</plist>
